@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

/* ROOT STYLING */
:root {
    --primary_color: #fff;
    --secondary_color: #0C0C0B;
    --green_color: #00B67A;
    --red_color: #dc3545;
    --gray: #6B6B6B;
    --light-gray: #E1E1E1;
    --typo_round_family: 'typo_round_light_demoregular';
    --bg-gray: linear-gradient(180deg, rgba(107, 107, 107, 0.24) -18.97%, #FFF 49%);
    --linear-pink: linear-gradient(to bottom, #eec1c1, #eec4c4, #eec7c7, #edc9c9, #edcccc, #eed1d4, #efd7db, #f0dce1, #f2e5eb, #f5eef4, #f9f7fa, #ffffff);
}

@font-face {
    font-family: 'typo_round_light_demoregular';
    src: url('../../public/fonts/typo_round_light_demo-webfont.woff2') format('woff2'),
        url('../../public/fonts/typo_round_light_demo-webfont.woff') format('woff');
    font-weight: 400;
    font-style: 400;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}


h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 13px;
}

.container {
    max-width: 1300px !important;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
    /* color: var(--secondary_color); */
    --primary_color: #fff;
    font-family: var(--typo_round_family);
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
    letter-spacing: 0.5px;
}

button {
    /* width: 40%; */

    display: inline-flex;
    padding: 7px 24px !important;
    align-items: flex-start !important;
    gap: 8px !important;
    background-color: var(--red_color) !important;
}

ul li a {
    color: var(--primary_color);
    font-size: 15px !important;
    font-weight: 100 !important;
}

input[type='radio'] {
    width: 20px !important;
    height: 20px !important;

}

input[type='checkbox'] {
    width: 20px !important;
    height: 20px !important;

}


/* OVERRIDE */
.text-success {
    color: var(--green_color) !important;
}

.rounded-md {
    border-radius: 24px !important;
}

.bg-gray {
    background: var(--bg-gray);
}

.text-danger {
    color: var(--red_color) !important;
}

.form-control {
    padding: 12px !important;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.text-danger {
    color: var(--red_color);
}

.fw-lighter {
    font-size: 12px !important;
}

.text-black {
    color: var(--secondary_color) !important;
}

.border-success {
    color: var(--green_color) !important;
}

/* COMMON CSS FROM SAN*/

/* left  */
.dashboard .sidebar {
    position: sticky;
    top: 0;
    height: 700px;
    padding: 0;
    background: #044c92;
    border-radius: 0px 0px 17px 0px;
    box-shadow: 4px 1px 4px 0px #6a8a91;
}

.dashboard .sidebar .name {
    font-size: xx-large;
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 29px;
    padding-top: 12px;
}

.dashboard .sidebar li {
    padding: 5px 0px 5px 29px;
}

.dashboard .sidebar li:hover {
    border-left: 3px solid white;
    padding: 5px 0px 5px 29px;
    background: #ffffff3b;
}

.dashboard .sidebar i {
    color: white;
}

.dashboard .sidebar span {
    color: white;
}

/* center  */
.navbar-bg {
    display: flex;
    justify-content: center;
    background: #044c92;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    color: #fff;
    padding: 9px 18px;
    display: flex;
    margin: 0px 127px 0px 0px;
    justify-content: center;
}

.navbar a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(0, 0, 0);
    list-style-type: none;
    text-decoration: none;
}

.navbar li:hover {
    background: white;
    color: black;
    border-radius: 12px 12px 0px 0px;
}

.navbar li:active {
    background: white;
    color: black;
    border-radius: 12px 12px 0px 0px;
}

.navbar li:focus {
    background: white;
    color: black;
    border-radius: 12px 12px 0px 0px;
}

.center-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-section .col {
    display: flex;
    justify-content: center;
}

.center-section button {
    width: 100%;
    background: #044c92;
    height: 4rem;
    transition: all 0.2s ease-in-out;
    box-shadow: -1px 1px 4px 1px #6c757d;
}

.center-section-save button {
    width: 20%;
    background: #044c92;
    height: 4rem;
    float: right;
    transition: all 0.2s ease-in-out;
    box-shadow: -1px 1px 4px 1px #6c757d;
}

.sticky-portion {
    position: sticky;
    top: 70px;
    z-index: 1000;
    margin: 0px 1px;
}

.sticky-portion-2 {
    position: sticky;
    top: 9rem;
    z-index: 1000;
}

.center-section button:hover {
    background: #044c92;
    transform: scale(1.1);
}

.center-section-save button:hover {
    background: #044c92;
    transform: scale(1.1);
}

.center-section .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    background-color: #dce1e0;
}

.card:hover {
    background: #dce1e0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 5px;
}

/* right  */
.dashboard .sidebar-right {
    position: sticky;
    top: 0;
    height: 700px;
    padding: 0;
    background: #044c92;
    border-radius: 0px 0px 0px 17px;
    box-shadow: -4px -1px 4px 0px #6a8a91;
}

.sidebar-right button {
    width: 75%;
    margin-left: 3rem;
    margin-top: 4px;
    margin-bottom: 4px;
    background: aliceblue;
    height: 4rem;
    transition: all 0.2s ease-in-out;
    box-shadow: -3px -2px 4px 1px #6c757d;
}

.sidebar-right button:hover {
    color: white;
    background-color: #2465a7c2;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #f9f9f9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

/* model  */
.model-img {
    display: flex;
    /* height: 22px; */
    /* height: 25rem; */
}

.model .col {
    display: flex;
    justify-content: center;
    background: #e2e4e591;
    box-shadow: 0px 0px 9px 1px gray;
    margin: 0px 2px;
    height: 8rem;
    align-items: center;
    cursor: pointer;
}

.model .col:hover {
    background: #d4d5d6;
}

.model .col:focus {
    background: #d4d5d6;
}

.model .col img {
    height: 6rem;
}

.model {
    margin: 1% 1%;
}

.box img {
    width: 85%;
}

.other {
    margin: 20px 56px;
    cursor: pointer;
}

.repair-phone ul {
    list-style-type: none;
}

.icons {
    display: flex;
    align-items: center;
}

.f-black-box {
    height: 27px;
    width: 27px;
    padding: 0;
    margin: 0px 0px 0px 46px;
    cursor: pointer;
}

.f-black-list {
    width: 59px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.btn .next-btn {
    color: black;
    text-decoration: none;
}

.btn .next-btn:hover {
    color: white;
    text-decoration: none;
}

.inst-box {
    margin: 0px 20px;
    color: black;
    text-align: center;
    background: #ffffffcc;
    border-radius: 10px 10px 10px 10px;
    height: 13rem;
    width: 14rem;
}














/* COMMON CSS FROM IQRA */





































/* responsive breakpoints */
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    h1 {
        font-size: 30px;
        /* margin-top: -51px; */
    }

    h2 {
        font-size: 30px;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}